@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}


header {
    font-family: montserrat;
    font-weight: bolder;
    background: #312f2e;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #312f2e 3px solid;
}

header h1 {
    padding: 5px 0;
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.about img {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}


body {
    font-family: montserrat;
    font-weight: 300;
    font-size: larger;
    margin: 0;
    padding: 0;
    color: #312f2e;
    background-color: #fff3f3;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.about,
.skills,
.contact,
.journey,
.work {
    margin: 40px 0;
    color: #312f2e;
}

.grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project {
    height: auto;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.project:hover {
    opacity: 0.7;
}

.links {
    height: auto;
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.links img {
    height: 30px
}


footer {
    background: #f4e5e5;
    padding: 20px 0;
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: #312f2e;
}

.navbar h1 {
    margin-left: 40px;
    font-size: xx-large;
}

.menu a {
    margin-right: 20px;
    font-family: montserrat;
    color: #ffffff;
    text-decoration: none;
}

.menu a:hover {
    color:#fbbaba
}