.right-img {
    border-radius: 10px;
    float: right;
    max-height: 300px;
    margin: 10px;
}

.left-img {
    border-radius: 10px;
    float: left;
    max-height: 300px;
    margin: 10px;
}

.container p {
    margin: 30px;
    text-indent: 15px;
}
