/*
Style for the navbar at the top of each page, including Contact dropdown menu
*/


@import "font-def.css";
/*needed to use montserrat font*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: #312f2e;
}

/* header */
.navbar h1 a {
    margin-left: 40px;
    font-size: xx-large;
    text-decoration: none;
    color:#f9f9f9;
}


/* navbar content */
.menu a {
    margin-right: 20px;
    font-family: montserrat;
    color: #ffffff;
    text-decoration: none;
}

/* highlight link when hovering */
.menu a:hover {
    color: #fbbaba
}

.dropdown {
    position: relative;
    display: inline-block;
}

/*when you hover, show dropdown*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* when hovering in dropdown, keep "Contact Me" highlighted */
.dropdown:hover .dropdown-button {
    color: #fbbaba;
}

/*Contact Me button*/
.dropdown-button {
    margin-right: 20px;
    font-family: montserrat;
    color: #ffffff;
}

.dropdown-content {
    display: none;  /*Hidden by default*/
    position: absolute;
    background-color: #f9f9f9;
    max-width: 115px;
    border-radius: 3px;
    border: 2px solid #5d5d5d;
}

/*Style each link in the dropdown menu*/
.dropdown-content a {
    font-family: montserrat;
    color: #312f2e;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.dropdown-content a:hover {
    background: #5c5957;
    color: #fad9d9;
}