/*
Style for the navbar at the top of each page, including Contact dropdown menu
*/


@import "font-def.css";
/*needed to use montserrat font*/

#iss {
    background-color: #f4e5e5;
    border-radius: 8px;
    border: #f4d8d8 solid 2px;
    font-family: instruction;
    font-size: 12px;
    color: #595553;
    margin: 5px;
    max-width: 430px;
    display: flex;

}

#iss img {
    max-height: 60px;
    float: left;
    padding-right: 5px;
}

.navbar {
    font-family: montserrat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: #312f2e;
    z-index: 9999; /* keeps navbar on very top, no content overlays*/
}

#nav_header a {
    font-family: montserrat;
    font-weight: bold;
    margin-left: 40px;
    font-size: xx-large;
    text-decoration: none;
    color:#f9f9f9;
}


#nav_header a:hover {
    color:#fbbaba;
}


/* navbar content */
.menu a {
    margin-right: 20px;
    color: #ffffff;
    text-decoration: none;
}

/* highlight link when hovering */
.menu a:hover {
    color: #fbbaba
}

.dropdown {
    position: relative;
    display: inline-block;
}

/*when you hover, show dropdown*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* when hovering in dropdown, keep "Contact Me" highlighted */
.dropdown:hover .dropdown-button {
    color: #fbbaba;
}

/*Contact Me button*/
.dropdown-button {
    margin-right: 20px;
    color: #ffffff;
}

.dropdown-content {
    display: none;  /*Hidden by default*/
    position: absolute;
    background-color: #f9f9f9;
    max-width: 115px;
    border-radius: 3px;
    /* border: 2px solid #5d5d5d; */
}

/*Style each link in the dropdown menu*/
.dropdown-content a {
    color: #312f2e;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.dropdown-content a:hover {
    /* background: #5c5957; */
    color: #fad9d9;
}