/*
Style for project-related elements:
    - images
    - titles
    - project grid on homepage
*/


@import "font-def.css";                  /*needed to use montserrat font*/

.grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.project {
    height: auto;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.project:hover {
    opacity: 0.7;
}

.links {
    height: auto;
    display:flex;
    flex-direction: row;
    gap: 10px;
}

.links img {
    height: 30px
}

.proj-page img {
    max-height: 230px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.proj-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.w3-image {
    padding: 10px;
    height: 400px;
    width: auto;
    border-radius: 20px;
}

.w3-display-middle {
    opacity: 0;
    background-color: #fff6f6;
    color: #312f2e;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
}

.w3-display-container:hover .w3-display-middle {
    opacity: 1;
}