/*
Defines general use style:
    - body font
    - footer
    - containers
    - etc
*/


@import "font-def.css";          /*needed to use montserrat font*/

html {
    /* keeps anchor points from opening behind the navbar */
    scroll-padding-top: 7rem;
    font-family: montserrat;
}

header {        /*everything in the nav bar*/
    font-weight: bolder;
    background: #312f2e;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #312f2e 3px solid;
    cursor:default;
}

header h1 {     /*"Zoe Cheimets" in the navbar*/
    padding: 5px 0;
}

img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

.about img {
    max-width: 20%;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}


body {
    font-weight: 300;
    font-size: larger;
    margin: 0;
    padding: 0;
    color: #312f2e;
    background-color: #fff3f3;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.container p {
    font-size:medium;
}

.container h3 {
    font-weight: bold;
    margin-top: 30px;
}

.about,
.contact,
.journey,
.work {
    margin: 40px 0;
    color: #312f2e;
}

.journey p {
    text-indent: 15px;
    font-size:large;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    background: #f4e5e5;
    padding: 20px 0;
    text-align: center;
}

#iss {
    background-color: #f4e5e5;
    border-radius: 8px;
    border: #f4d8d8 solid 2px;
    justify-items: center;
    font-family: instruction;
    display: inline;
    font-size: 12px;
    color: #595553;
    margin: 5px;
}